<div class="container" *ngIf="showSpinner==false">
  <div class="row">
    <div class="col-md-6 col-lg-5 place-img"><img [src]="placeUrl" alt="" class="main-image">
    </div>
    <div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">


      <div class="place-about">
        <h2 class="place__title">{{place.name}}</h2>
        <p class="place__subtitle">{{place.vicinity}}</p>
        <!--<p class="place__text">{{place.description}}</p>-->

        <ngb-tabset>
          <ngb-tab title="Адрес" class="nav nav-tabs">
            <ng-template ngbTabContent>
              <br>
              <p>{{place.formattedAddress}}</p>
              <img [src]="placeMap" *ngIf="placeMap" class="map">
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Часы Работы">
            <ng-template ngbTabContent>
              <br>
              <p style="white-space:pre-line;" *ngIf="place.popular">{{place.popular.timeframes |
                workingTime}}</p>
              <p style="white-space:pre-line;" *ngIf="!place.popular">Не установлены</p>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>


        <hr class="my-4">

        <h2>Лучший Отзыв</h2>
        <blockquote class="blockquote">
          <p class="mb-0" *ngIf="!place.reviews['0'].text">Нет пока отзывов... </p>
          <p class="mb-0" *ngIf="place.reviews['0'].text">
            "{{place.reviews['0'].text}} </p>
          <footer class="blockquote-footer" *ngIf="place.reviews['0'].text">
            {{place.reviews['0'].author_name}}
          </footer>
        </blockquote>

        <hr class="my-4">

        <hlwt-add-into-trip></hlwt-add-into-trip>

      </div>

    </div>
  </div>
</div>
<div id="map"></div>
<hlwt-loading-spinner *ngIf="showSpinner"></hlwt-loading-spinner>


