
.place-about{
  margin: 30px;
}

.place__subtitle {
  color: #333;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.place__title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.place__text {
  font-size: 14px;
  margin-bottom: 40px;
}

.place__text p {
  margin-bottom: 20px;
}

.place-img{

  overflow: hidden;

}

.main-image {
  max-height: 612px;
}

@media (max-width: 600px) {
  .main-image {
    max-width: 450px;

  }

}
