ul li {
  position: relative;
  display: flex;

  margin: 0 0 10px 0;
  padding: 12px;
  box-shadow: 0 1px 1px #cec3c379;
  border-radius: 2px;

  background: #a991d4;
  font-size: 0.9rem;
  cursor: pointer;
  color: #ffffff;
}

li:hover {
  background-color: #38304e;
}
.padded {
  padding: 24px 2rem;
}

.delete-btn {
  position: absolute;
  right: 1.25rem;
  bottom: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.5;
  font-size: 11px;
  cursor: pointer;
  text-decoration: none;
}

.delete-btn:hover {
  opacity: 1;
}

.delete-btn:active {
  opacity: 0.7;
}

.places-item {
  display: block;
  color: #fff;
  font-size: 13px;
}
