<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand mx-auto d-block text-center" style="color:white;">Have List Will Travel</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/">Главная</a>
      </li>
      <li class="nav-item" *ngIf="!(auth.user | async)">
        <a class="nav-link" routerLink="/login">Вход / регистрация</a>

      </li>
      <li class="nav-item" *ngIf="(auth.user | async)">
     <a class="nav-link" routerLink="/profile">Профиль</a>
      </li>

      <li class="nav-item" *ngIf="(auth.user | async)">
        <a class="nav-link" href="" (click)="logOut()">Выйти</a>

      </li>

    </ul>

  </div>
</nav>


