.delete-btn {
  position: absolute;
  right: 1.25rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: .5;
  font-size: 11px;
  cursor: pointer;
}

.delete-btn:hover {
  opacity: 1;
}

.delete-btn:active {
  opacity: .7;
}

.places-item{
  display: block;
  color: #fff;
  font-size: 13px;

}
